<?xml version="1.0"?>
<robot name="a">
    <link name="corridor_base_link"/>

    <link name="link_ground_plane">
        <visual>
            <material name="">
                <color rgba="0.8 0.8 0.5 1"/>
            </material>
            <geometry>
                <box size="6 6 0.1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="6 6 0.1"/>
            </geometry>
        </collision>
    </link>

    <joint name="joint_ground_plane" type="fixed">
        <origin xyz="0 0 -0.05"/>
        <parent link="corridor_base_link"/>
        <child link="link_ground_plane"/>
    </joint>

    <link name="outer_l_shaped_wall_origin_link"/>

    <joint name="outer_l_shaped_wall_origin_joint" type="fixed">
        <origin xyz="3 3 0"/>
        <parent link="corridor_base_link"/>
        <child link="outer_l_shaped_wall_origin_link"/>
    </joint>
    
    
    <link name="outer_along_x_wall_link">
        <visual>
            <origin xyz="0 0 0"/>
            <material name="">
                <color rgba="0.5 0.5 0.5 0.5"/>
            </material>
            <geometry>
                <box size="6 0.1 2.4"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="6 0.1 2.4"/>
            </geometry>
        </collision>
    </link>

    <joint name="outer_along_x_wall_link_joint" type="fixed">
        <origin xyz="-3 -0.05 1.2"/>
        <parent link="outer_l_shaped_wall_origin_link"/>
        <child link="outer_along_x_wall_link"/>
    </joint>
    
    <link name="outer_along_y_wall_link">
        <visual>
            <material name="">
                <color rgba="0.5 0.5 0.5 0.5"/>
            </material>
            <geometry>
                <box size="3 0.1 2.4"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="3 0.1 2.4"/>
            </geometry>
        </collision>
    </link>
    
    
    <joint name="outer_along_y_wall_link_joint" type="fixed">
        <origin xyz="-0.05 -1.5 1.2" rpy="3.14159 -3.14159 1.5708"/>
        <parent link="outer_l_shaped_wall_origin_link"/>
        <child link="outer_along_y_wall_link"/>
    </joint>
    
</robot>